<div class="offset-4 row">
    <div class="col-4">
        <input type="submit" class="btn btn-info" value="Create" />
    </div>
    <div class="col-8">
        <a asp-action="index" class="btn btn-success">Back to List</a>
    </div>
</div>